
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Wedding Planner Wedding Category Flat Bootstrap Responsive website Template | About </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Wedding Planner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
<%= render 'header'%>
       
    </div>
	<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
	 <!-- //banner-text -->
	 <section class="banner_bottom1 py-md-5">
		<div class="container py-4 mt-2">
			<h3 class="heading-voyileinfo text-center">About  <span>Us</span></h3>
			<div class="inner_sec_info_voyree_voyile mt-md-5 pt-3">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="images/g1.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left1">
						<h4>Lorem Ipsum convallis diam</h4>
						<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
							pulvinar neque pharetra ac.</p>
						<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
							pulvinar neque pharetra ac.Nullal condimentum interdum vel eget enim. Curabitur mattis orci sed le. Nullal condimentum interdum vel eget enim. Curabitur mattis orci sed le.</p>
						</div>
				</div>
			</div>
		</div>
	</section>

	<!-- choose -->
	<section class="choose py-5">
		<div class="container py-md-4 mt-md-3"> 
			<div class="row inner_voy3l_voyile_grids-1 ">
				<div class="col-lg-6 voy3layouts_choose_left_grid1">
					<div class="choose_top">
						<h4 class="mb-3 mt-3 text-white">Feel Free to Contact Our Agents Directly</h4>
						<p class="text-white">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
						<a href="services.html" class="btn btn-primary mt-3">Read More</a>
					</div>
				</div>
				<div class="col-lg-6 voy3layouts_choose_left_grid2">
					<div class="row">
						<div class="col-md-6 voy3l_choose_bottom1 mt-3 pt-md-4">
							<div class="choose_bottom_top">
                                <span class="fa fa-gift mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Weddings</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
						</div>
						<div class="col-md-6 voy3l_choose_bottom2">
							<div class="choose_bottom_top">
                                <span class="fa fa-cutlery mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Parties</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
						</div>
						<div class="col-md-6 voy3l_choose_bottom3 mt-3 pt-md-4">
							<div class="choose_bottom_top">
                                <span class="fa fa-music mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Entertainment</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
						</div>
						<div class="col-md-6 voy3l_choose_bottom4">
							<div class="choose_bottom_top">
                                <span class="fa fa-glass mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Celebrations</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
						</div>
					</div>
				</div>
			</div>
	</div>   
</section>
<!-- //choose -->
	<!-- team -->
	<section class="team py-md-5 py-4">
        <div class="container py-lg-5">
            <h2 class="heading-voyileinfo text-center  mb-4">Wedding Planners</h2>
			<div class="row inner-sec-voy3layouts-voyileinfo pt-md-5">
				<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-left">
					<img src="images/t4.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>John Doe</h4>
							<h6>Lorem
								</h6><h6>
						</h6></div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<span class="fa fa-facebook"></span>
							</a>
							<a class="twitter" href="#">
								<span class="fa fa-twitter"></span>
							</a>
							<a class="pinterest" href="#">
								<span class="fa fa-pinterest"></span>
							</a>

						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-right">
					<img src="images/t2.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Alina Smith</h4>
							<h6>Lorem</h6>
						</div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<span class="fa fa-facebook"></span>
							</a>
							<a class="twitter" href="#">
								<span class="fa fa-twitter"></span>
							</a>
							<a class="pinterest" href="#">
								<span class="fa fa-pinterest"></span>
							</a>

						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-left">
					<img src="images/t3.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Adam Lobster</h4>
							<h6>Lorem</h6>
						</div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<span class="fa fa-facebook"></span>
							</a>
							<a class="twitter" href="#">
								<span class="fa fa-twitter"></span>
							</a>
							<a class="pinterest" href="#">
								<span class="fa fa-pinterest"></span>
							</a>

						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 team-grids aos-init" data-aos="flip-right">
					<img src="images/t1.jpg" class="img-fluid" alt="">
					<div class="team-info">
						<div class="caption">
							<h4>Chris Woakes </h4>
							<h6>Lorem</h6>
						</div>
						<div class="social-icons-section">
							<a class="fac" href="#">
								<span class="fa fa-facebook"></span>
							</a>
							<a class="twitter" href="#">
								<span class="fa fa-twitter"></span>
							</a>
							<a class="pinterest" href="#">
								<span class="fa fa-pinterest"></span>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //team -->
	<%= render 'footer' %>
</body>
</html>