

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Wedding Planner Wedding Category Flat Bootstrap Responsive website Template | Gallery </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Wedding Planner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
    <%= render 'header' %>       
    </div>
	 <!-- //banner-text -->
	 	<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Gallery</li>
    </ol>
	<!--Gallery-->
		<div class="ga-top">
	<section class="gallery py-lg-5 editContent">
	<div class="container">
	<div class="title-section pt-5 text-center">
    
			  <h2 class="heading-voyileinfo text-center  mb-4">Our Gallery</h2>
 </div>
	 </div>
	</section>
	 <div class="gal-content">
		<div class="container py-5">
            
			<div class="row voyile_gallery_grids voy3-voyile demo">
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a href="#gal1">
						<img src="../assets/g1.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="#gal2">
						<img src="../assets/g2.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="#gal3">
						<img src="../assets/g3.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
				</div>
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a href="#gal4">
						<img src="../assets/g4.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="#gal5">
						<img src="../assets/g5.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="#gal6">
						<img src="../assets/g6.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
				</div>
				<div class="col-md-4 gal-sec">
					<div class="gallery-grid1">
						<a href="#gal7">
						<img src="../assets/g7.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="#gal8">
						<img src="../assets/g8.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
					<div class="gallery-grid1">
						<a href="#gal9">
						<img src="../assets/g9.jpg" alt=" " class="img-fluid" />
						
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	 
	
	
	 <!-- popup-->
        <div id="gal1" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g1.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->

        <!-- popup-->
        <div id="gal2" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g2.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g3.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
        <div id="gal4" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g4.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal5" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g5.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal6" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g6.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
  <!-- popup-->
        <div id="gal7" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g7.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
		  <!-- popup-->
        <div id="gal8" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g8.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
		  <!-- popup-->
        <div id="gal9" class="pop-overlay animate">
            <div class="popup">
                <img src="../assets/g9.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 editContent">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
	<!--//Gallery-->
	</div>
    <%= render 'footer' %>
</body>
</html>