

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Wedding Planner Wedding Category Flat Bootstrap Responsive website Template | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Wedding Planner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
  SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>

<body>
    <!-- banner -->
    <div class="banner">
    <%= render 'header'%>
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="slider-info">
                    <h3>Destination Weddings</h3>
          <a href="about.html" class="banner-button btn mt-md-5 mt-4">Know More</a>
        </div>
            </div>
        </div>
    </div>
   <!-- //banner-text -->
   <!--banner form-->
  <section class="banner_form py-5">
    <div class="container py-lg-3">
      <div class="row ban_form">
        <div class="col-lg-7 fom-left">
          <div class="categories_sub cats1">
            <h2 class="heading-voyileinfo">Our Weddings  Story</h2>
            <p class="vam">Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Sed lorem enim, Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Sed lorem enim, </p></div>
        </div>
        <div class="col-lg-5 reg-fom">
          <img src="../assets/1.jpg" class="img-fluid" alt="">
          
        </div>
      </div>
    </div>
  </section>
  <!--//banner form-->
    <!-- /services -->
    <section class="banner-bottom-voyree py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-voy3ls py-lg-5 py-3">
               <h3 class="heading-voyileinfo text-center">We Will Plan </h3>
                <div class="row middle-grids mt-md-5 pt-4">
                    <div class="col-lg-4 about-in-voy3ls middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-bar-chart mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">
                                 Analytics.</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in-voy3ls middle-grid-info active text-center">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-paperclip mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Listening</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in-voy3ls middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-print mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Presentation</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
<!-- choose -->
  <section class="choose py-5">
    <div class="container py-md-4 mt-md-3"> 
      <div class="row inner_voy3l_voyile_grids-1 ">
        <div class="col-lg-6 voy3layouts_choose_left_grid1">
          <div class="choose_top">
            <h4 class="mb-3 mt-3 text-white">Feel Free to Contact Our Agents Directly</h4>
            <p class="text-white">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
            <a href="services.html" class="btn btn-primary mt-3">Read More</a>
          </div>
        </div>
        <div class="col-lg-6 voy3layouts_choose_left_grid2">
          <div class="row">
            <div class="col-md-6 voy3l_choose_bottom1 mt-3 pt-md-4">
              <div class="choose_bottom_top">
                                <span class="fa fa-gift mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Weddings</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
            </div>
            <div class="col-md-6 voy3l_choose_bottom2">
              <div class="choose_bottom_top">
                                <span class="fa fa-cutlery mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Parties</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
            </div>
            <div class="col-md-6 voy3l_choose_bottom3 mt-3 pt-md-4">
              <div class="choose_bottom_top">
                                <span class="fa fa-music mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Entertainment</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
            </div>
            <div class="col-md-6 voy3l_choose_bottom4">
              <div class="choose_bottom_top">
                                <span class="fa fa-glass mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Celebrations</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
            </div>
          </div>
        </div>
      </div>
  </div>   
</section>
<!-- //choose -->
   <!-- /advantage -->
    <section class="banner-bottom py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec py-lg-5 py-3">
                 <h3 class="heading-voyileinfo text-center">Our Advantages</h3>
               <div class="row middle-grids mt-lg-5 pt-5">
                   <div class="col-lg-6 advantage-grid-info1">
                        <div class="advantage_left1 text-center">
                            <img src="../assets/p1.jpg" class="img-fluid" alt="">
                        </div>
                    </div> 
           <div class="col-lg-6 advantage-grid-info pt-md-5">
                        <div class="advantage_left">
              <h4 class="mb-2">Integer porttitor mollisar</h4>
                            <h3>Laoreet Eleifend</h3>
              <p class="mt-2">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                        </div>
                    </div>
                </div>
         <div class="row middle-grids pt-lg-5">
                    <div class="col-lg-6 advantage-grid-info pt-md-5 mt-md-5">
                        <div class="advantage_left">
              <h4 class="mb-2">Integer porttitor mollisar</h4>
                            <h3>Pellentesque mi non</h3>
              <p class="mt-2">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 advantage-grid-info1">
                        <div class="advantage_left2 text-center">
                            <img src="../assets/g1.jpg" class="img-fluid" alt="">
                        </div>
                    </div> 
                </div>
      </div>
        </div>
    </section>
    <!-- //advantage -->
  <!-- feedback -->
  <section class="news py-5">
    <div class="container py-xl-5 py-lg-3">
      <h3 class="heading-voyileinfo text-white text-center">Recent FeedBack</h3>
      <div class="row mt-md-5 pt-4">
        <div class="col-md-4 item">
          <div class="feedback-info py-5 px-4">
            <h4 class="mb-2">Tempor incididunt ut labore hytnm
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo.</p>
            <div class="feedback-grids mt-4">
              <div class="feedback-img">
                <img src="../assets/te1.jpg" class="img-fluid rounded-circle" alt="" />
              </div>
              <div class="feedback-img-info">
                <h5>Mary Jane</h5>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 item-2">
          <div class="feedback-info py-5 px-4">
            <h4 class="mb-2">Tempor incididunt ut labore hytnm
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo.</p>
            <div class="feedback-grids mt-4">
              <div class="feedback-img">
                <img src="../assets/te3.jpg" class="img-fluid rounded-circle" alt="" />
              </div>
              <div class="feedback-img-info">
                <h5>Olivia Ruth</h5>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 item">
          <div class="feedback-info py-5 px-4">
            <h4 class="mb-2">Tempor incididunt ut labore hytnm
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo.</p>
            <div class="feedback-grids mt-4">
              <div class="feedback-img">
                <img src="../assets/te2.jpg" class="img-fluid rounded-circle" alt="" />
              </div>
              <div class="feedback-img-info">
                <h5>Blake Joe</h5>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //feedback -->
  <!-- stats -->
  <section class="stats py-5">
    <div class="container py-md-5">
      <h3 class="heading-voyileinfo text-center">Our Achievements</h3>
      <span class="voy3-line black"></span> 
      <div class="row inner_voy3l_voyile_grids-1 pt-md-5 mt-4">
        <div class="col-lg-3 col-sm-6 voy3layouts_stats_left voy3_counter_grid">
          <span class="fa fa-users mb-2"></span>
          <p class="counter">250</p>
          <h3>Clients</h3>
        </div>
        <div class="col-lg-3 col-sm-6 voy3layouts_stats_left voy3_counter_grid1">
          <span class="fa fa-gift mb-2"></span>
          <p class="counter">182</p>
          <h3>Weddings</h3>
        </div>
        <div class="col-lg-3 col-sm-6 voy3layouts_stats_left voy3_counter_grid2">
          <span class="fa fa-glass mb-2"></span>
          <p class="counter">105</p>
          <h3>Bachelore Parties</h3>
        </div>
        <div class="col-lg-3 col-sm-6 voy3layouts_stats_left voy3_counter_grid2">
          <span class="fa fa-music mb-2"></span>
          <p class="counter">150</p>
          <h3>Other Events</h3>
        </div>
      </div>
    </div>  
  </section>
  <!-- //stats -->
  <%= render 'footer' %>
</body>
</html>